<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logger to INFO by default -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Enable DEBUG level for elephantchess engine API -->
    <logger name="com.github.benckx.elephantchess.engine" level="DEBUG" />
</configuration>
